.card{
    border: none;
    cursor: pointer;
}

.listimg{
    height: 250px;
    width: 180px;
}

.card-title{
    font-size: 13pt;
    font-weight: bold;
}

.text-body-secondary{
    font-size: 12pt;
    text-align: end;
    vertical-align: bottom;
}