<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="userMenuFragment">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand">상품목록</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link pointer-span" th:classappend="${page == 'all' ? 'active' : ''}" onclick="location.href='/item/list'">전체 카테고리</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pointer-span" th:classappend="${page == 'code1' ? 'active' : ''}" onclick="location.href='/item/list?page=code1&cateCode=1'">IT/인터넷</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pointer-span" th:classappend="${page == 'code2' ? 'active' : ''}" onclick="location.href='/item/list?page=code2&cateCode=2'">소설/에세이</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pointer-span" th:classappend="${page == 'code3' ? 'active' : ''}" onclick="location.href='/item/list?page=code3&cateCode=3'">문화/여행</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </th:block>
    
</html>