<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerFragment">
  <!-- 로그인 상태일 때 -->
  <th:block th:if="${session.loginInfo != null}">
    <div class="col text-end">
      <span>[[${session.loginInfo.getMemberName}]]님 반갑습니다.</span>&nbsp;
      <span class="pointer-span" onclick="location.href='/buy/history'">내정보&nbsp;</span>
      <!-- 관리자만 보이는 관리자메뉴 -->
      <th:block th:if="${session.loginInfo.memberRoll == 'ADMIN'}">
        <span class="pointer-span" onclick="location.href='/admin/buyHistory';">관리자메뉴</span>&nbsp;
      </th:block>
      <span class="pointer-span" onclick="logout()">LOGOUT</span>
    </div>
    <div class="row">
      <div class="col text-center">
          <h1 class="main-title" th:onclick="|location.href='@{/item/list}'|" style="cursor: pointer;">선년이의 책꽂이</h1>
      </div>
  </div>
  </th:block>

  <!-- 로그인 상태가 아닐 때 -->
  <th:block th:if="${session.loginInfo == null}">
    <div class="row">
        <!-- text-start : 왼쪽 정렬 -->
        <!-- text-center : 중앙 정렬 -->
        <!-- text-end : 오른쪽 정렬 -->
        <div class="col text-end">
            <span onclick=login() class="pointer-span">LOGIN</span>
            <span data-bs-toggle="modal" data-bs-target="#join-modal" class="pointer-span">JOIN</span>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h1 class="main-title" th:onclick="|location.href='@{/item/list}'|" style="cursor: pointer;">선년이의 책꽂이</h1>
        </div>
    </div>

    
    <!-- Modal 회원가입 모달 -->
    <div class="modal fade" id="join-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">JOIN</h1>
        </div>

        <div class="modal-body">
          <form class="row g-3" id="join-form" action="/member/insertMember" method="post">
            <div class="col-12">
              <label for="" class="form-label">ID</label>
              <input type="text" class="form-control" id="memberId" name="memberId">
            </div>

            <div class="col-12">
              <label for="" class="form-label">PASSWORD</label>
              <input type="password" class="form-control" id="pw1" name="memberPw">
              <span>문자/숫자/특수문자 를 필수 혼합 입력하세요.</span>
            </div>

            <div class="col-12">
              <label for="" class="form-label">CONFIRM PASSWORD</label>
              <input type="password" class="form-control" id="pw2">
            </div>

            <div class="col-12">
              <label for="" class="form-label">NAME</label>
              <input type="text" class="form-control" id="" name="memberName">
            </div>

            <div class="col-4">
              <label for="" class="form-label">TEL</label>
              <select id="" class="form-select" name="memberTel">
                <option value="010" selected>010</option>
                <option value="011">011</option>
              </select>
            </div>
            <div class="col-4">
              <label for="" class="form-label">&nbsp;</label>
              <input type="text" class="form-control" id="" name="memberTel">
            </div>
            <div class="col-4">
              <label for="" class="form-label">&nbsp;</label>
              <input type="text" class="form-control" id="" name="memberTel">
            </div>
            
            <div class="col-6">
              <label for="" class="form-label">E-MAIL</label>
              <input type="text" class="form-control" id="" name="memberEmail">
            </div>
            <div class="col-6">
              <label for="" class="form-label">&nbsp;</label>
              <select id="" class="form-select" name="memberEmail">
                <option value="@naver.com" selected>@naver.com</option>
                <option value="@gmail.com">@gmail.com</option>
              </select>
            </div>

            <div class="col-8">
              <label for="" class="form-label">ADDRESS</label>
              <input type="text" class="form-control" id="postCode" name="postCode" placeholder="우편번호" readonly>
            </div>
            <div class="col-4 d-grid">
              <label for="" class="form-label">&nbsp;</label>
              <input type="button" value="검색" class="btn btn-outline-secondary" onclick="searchAddress()">
            </div>
            <div class="col-12">
              <input type="text" class="form-control" id="addressCode" name="memberAddr" placeholder="주소" readonly>
            </div>
            <div class="col-12">
              <input type="text" class="form-control" id="detailAddress" name="addrDetail" placeholder="상세주소">
            </div>

            <div class="col-12">
              <label for="" class="form-label">GENDER</label>
              <div class="col-12">
                <input class="form-check-input" type="radio" name="gender" id="" value="male" checked>
                  남성
                  &nbsp;
                <input class="form-check-input" type="radio" name="gender" id="" value="female">
                  여성
              </div>
            </div>
          </form>
        </div>
        
            
          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary" onclick="join()">완료</button>
        </div>
          

        </div>
        </div>
        
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  </th:block>
  <script src="/js/fragment/user_header.js"></script>
</th:block>

</html>