<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/admin/admin_history.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/admin/buyHistory" method="post">
                    <table class="table table-borderless text-center align-middle adminHistoryTable">
                        <colgroup>
                            <col width="20%">
                            <col width="32%">
                            <col width="32%">
                            <col width="16%">
                        </colgroup>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <select name="searchType" class="form-select" aria-label="Default select example">
                                            <option value="BUY_CODE" th:selected = "${searchVO.searchType == 'BUY_CODE'}">구매번호</option>
                                            <option value="MEMBER_ID" th:selected = "${searchVO.searchType == 'MEMBER_ID'}">구매자ID</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td colspan="3">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" name="searchValue" th:value="${searchVO.searchValue}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        구 매 일 시
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group">
                                            <span class="input-group-text">From</span>
                                            <input name="searchType" value="BUY_DATE" min="${minDate}" type="date" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group">
                                            <span class="input-group-text">To</span>
                                            <input name="searchType" value="BUY_DATE" max="${maxDate}" type="date" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col d-grid">
                                        <input type="submit" class="btn btn-success" value="검색">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <div class="row tableRow">
            <div class="col">
                <table class="table table-hover text-center align-middle adminHistoryTable">
                    <colgroup>
                        <col width="15%">
                        <col width="15%">
                        <col width="20%">
                        <col width="20%">
                        <col width="30%">
                    </colgroup>
                    <thead>
                        <tr>
                            <td>No</td>
                            <td>구매번호</td>
                            <td>구매자ID</td>
                            <td>결제금액</td>
                            <td>구매일시</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pointer-span" th:each="buy, state : ${buyList}" th:onclick="showBuyDetail([[${buy.buyCode}]])">
                            <td>
                                [[${#numbers.formatInteger(state.index + 1, 2)}]]
                            </td>
                            <td>[[${buy.buyCode}]]</td>
                            <td>[[${buy.memberId}]]</td>
                            <td>[[${#numbers.formatCurrency(buy.buyPrice)}]]</td>
                            <td>[[${buy.buyDate}]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="buy-detail-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content detail-modal">
                    <div class="modal-header">
                        <h5 class="modal-title">구매내역 상세조회</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                    <div class="modal-body">
                        <!-- 자바스크립트로 내용 채우기 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
    
    <th:block layout:fragment="content_js">
        <!-- html 파일이 열릴때 같이 실행되는 js -->
        <script src="/js/content/admin/admin_history.js"></script>
    </th:block>
    </html>