<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/admin/admin_history.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-borderless text-center align-middle adminHistoryTable">
                    <colgroup>
                        <col width="20%">
                        <col width="32%">
                        <col width="32%">
                        <col width="16%">
                    </colgroup>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="BUY_CODE">구매번호</option>
                                        <option value="MEMBER_NAME">구매자명</option>
                                      </select>
                                </div>
                            </div>
                        </td>
                        <td colspan="3">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col">
                                    구 매 일 시
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group">
                                        <span class="input-group-text">From</span>
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group">
                                        <span class="input-group-text">To</span>
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col d-grid">
                                    <input type="button" class="btn btn-success" value="검색">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row tableRow">
            <div class="col">
                <table class="table table-hover text-center align-middle adminHistoryTable">
                    <colgroup>
                        <col width="15%">
                        <col width="15%">
                        <col width="20%">
                        <col width="20%">
                        <col width="30%">
                    </colgroup>
                    <thead>
                        <tr>
                            <td>No</td>
                            <td>구매번호</td>
                            <td>구매자ID</td>
                            <td>결제금액</td>
                            <td>구매일시</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pointer-span" th:each="buy, state : ${buyList}" th:onclick="showBuyDetail([[${buy.buyCode}]])">
                            <td>
                                [[${#numbers.formatInteger(#lists.size(buyList) - state.index, 2)}]]
                            </td>
                            <td>[[${buy.buyCode}]]</td>
                            <td>[[${buy.memberId}]]</td>
                            <td>[[${#numbers.formatCurrency(buy.buyPrice)}]]</td>
                            <td>[[${buy.buyDate}]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="buy-detail-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content detail-modal">
                    <div class="modal-header">
                        <h5 class="modal-title">구매내역 상세조회</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                    <div class="modal-body">
                    <!-- <div class="row mt-3">
                            <div class="col">
                                <table class="table text-center align-middle">
                                    <colgroup>
                                        <col width="20%">
                                        <col width="30%">
                                        <col width="20%">
                                        <col width="30%">
                                    </colgroup>
                                    <tr>
                                        <td>구매번호</td>
                                        <td>A</td>
                                        <td>구매자ID</td>
                                        <td>B</td>
                                    </tr>
                                    <tr>
                                        <td>구매금액</td>
                                        <td>C</td>
                                        <td>구매일시</td>
                                        <td>D</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <table class="table table-hover text-center align-middle table-bordered">
                                    <colgroup>
                                        <col width="15%">
                                        <col width="40%">
                                        <col width="15%">
                                        <col width="30%">
                                    </colgroup>
                                    <thead>
                                        <tr class="table-success">
                                            <td>No</td>
                                            <td>구매 상품</td>
                                            <td>수량</td>
                                            <td>결제 금액</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>a</td>
                                            <td>b</td>
                                            <td>c</td>
                                            <td>d</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
    
    <th:block layout:fragment="content_js">
        <!-- html 파일이 열릴때 같이 실행되는 js -->
        <script src="/js/content/admin/admin_history.js"></script>
    </th:block>
    </html>