<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
    <resultMap id="category" type="com.green.Shop.item.vo.CategoryVO">
        <id     column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>

    <resultMap id="item" type="com.green.Shop.item.vo.ItemVO">
        <id     column="ITEM_CODE"   property="itemCode"/>
        <result column="ITEM_NAME"   property="itemName"/>
        <result column="ITEM_PRICE"  property="itemPrice"/>
        <result column="ITEM_STOCK"  property="itemStock"/>
        <result column="ITEM_INTRO"  property="itemIntro"/>
        <result column="REG_DATE"    property="regDate"/>
        <result column="CATE_CODE"   property="cateCode"/>
        <!--    1:N 관계의 collection 삽입     -->
        <collection property="imgList" resultMap="img"/>
    </resultMap>

    <resultMap id="img" type="com.green.Shop.item.vo.ImgVO">
        <id     column="IMG_CODE"           property="imgCode"/>
        <result column="ORIGIN_FILE_NAME"   property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="IS_MAIN"            property="isMain"/>
        <result column="ITEM_CODE"          property="itemCode"/>
    </resultMap>

    <select id="selectCate" resultMap="category">
        SELECT
        *
        FROM
        ITEM_CATEGORY
        ORDER BY CATE_CODE ASC
    </select>

    <select id="selectItem" resultMap="item">
        SELECT
        *
        FROM
        SHOP_ITEM SI
        INNER JOIN ITEM_IMAGE II
        ON SI.ITEM_CODE = II.ITEM_CODE
        WHERE IS_MAIN = 'Y'
        ORDER BY REG_DATE DESC
    </select>

    <select id="selectDetail" resultMap="item">
        SELECT
        *
        FROM shop_item SI
        INNER JOIN item_image II
        ON SI.ITEM_CODE = II.ITEM_CODE
        WHERE SI.ITEM_CODE = #{itemCode}
    </select>

	
</mapper>































