<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">
    <resultMap id="noticeBoard" type="com.green.NoticeBoard.vo.NoticeBoardVO">
        <result column="BOARD_NUM" property="boardNum"/>
        <result column="BOARD_TITLE" property="boardTitle"/>
        <result column="BOARD_CONTENT" property="boardContent"/>
        <result column="WRITER" property="writer"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="READ_CNT" property="readCnt"/>
    </resultMap>

    <select id="boardList" resultMap="noticeBoard">
        SELECT BOARD_NUM
            , BOARD_TITLE
            , WRITER
            , CREATE_DATE
            , READ_CNT
        FROM BASIC_BOARD
    </select>

    <select id="boardInfo" resultMap="noticeBoard">
        SELECT BOARD_NUM
            , WRITER
            , CREATE_DATE
            , BOARD_TITLE
            , BOARD_CONTENT
            , READ_CNT
        FROM BASIC_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <insert id="insertNotice">
        INSERT INTO BASIC_BOARD (
            BOARD_NUM
            , BOARD_TITLE
            , WRITER
            , CREATE_DATE
            , BOARD_CONTENT
        ) VALUES (
            #{boardNum}
            , #{boardTitle}
            , #{writer}
            , #{createDate}
            , #{boardContent}
        )
    </insert>

    <delete id="deleteNotice">
        DELETE FROM BASIC_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </delete>

    <update id="updateNotice">
        UPDATE BASIC_BOARD
        SET BOARD_TITLE = #{boardTitle}
            , BOARD_CONTENT = #{boardContent}
        WHERE BOARD_NUM = #{boardNum}
    </update>

    <update id="readCnt">
        UPDATE BASIC_BOARD
        SET READ_CNT = READ_CNT + 1
        WHERE BOARD_NUM = #{boardNum}
    </update>

</mapper>































