<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="itemSideFragment">

        <ul class="list-group">
            <li class="list-group-item">카테고리 관리</li>
            <li class="list-group-item list-group-item-action list-group-item-success">상품 등록</li>
            <li class="list-group-item">상품 상태 변경</li>
            <li class="list-group-item">상품 정보 변경</li>
            <li class="list-group-item">상품 검색</li>
          </ul>

    </th:block>

</html>