.mr8{
    margin-right: 8px;
}
.mr22{
    margin-right: 22px;
}
.detailTable{
    font-size: 13pt;
    text-align: center;
    vertical-align: middle;
}
.detailImg{
    width: 22%;
    height: 22%;
}
.tal{
    text-align: left;
}