<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<div class="container">
    <form action="/boardWrite" method="post">
        <table>
            <tr>
                <td>글번호</td>
                <td><input type="text" name="boardNum"></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input type="text" name="boardTitle"></td>
            </tr>
            <tr>
                <td>작성자</td>
                <td><input type="text" name="writer"></td>
            </tr>
            <tr>
                <td>작성일</td>
                <td><input type="date" name="createDate"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td>
                    <textarea name="boardContent" cols="30" rows="10"></textarea>
                </td>
            </tr>
        </table>
        <div>
            <input type="submit" value="글등록">
        </div>
    </form>
</div>
</body>
</html>