.login-container{
    text-align: center;
}

.login-form {
    border: 3px solid rgb(25, 135, 84);
    width: 50%;
    margin: 50px auto;
    padding: 80px;
    border-radius: 10px;
}

.btn-outline-success{
    margin-top: 50px;
}