<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비동기 fetch</title>
    <style>
        div{
            margin-bottom: 16px;
        }
    </style>
</head>
<body>
    <h3>Fetch를 이용해 Javascript 데이터를 controller에서 받기</h3>
    <div>
        <input type="button" value="VO객체로 데이터 전달받기" onclick="fetch1()">
    </div>
    <div>
        <input type="button" value="Map으로 데이터 전달받기" onclick="fetch2()">
    </div>
    <div>
        <input type="button" value="Arraylist로 배열 데이터 받기" onclick="fetch3()">
    </div>
    </div>
    <div>
        <input type="button" value="복잡한 데이터 받기" onclick="fetch4()">
    </div>



    <script src="/js/test/fetch.js"></script>
</body>
</html>