.cart-list-table > thead >tr{
    background-color: rgb(171, 212, 181);
}

.wtself{
    width: 60px;
}

.cartlistImg{
    width: 100%;
    height: 100%;
}

.cartlistTable{
    font-size: 13pt;
    text-align: center;
    vertical-align: middle;
}
