<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <div>
        <form action="regStu" method="post">
            학번 : <input type="text" name="stuNo"><br>
            이름 : <input type="text" name="stuName"> <br>
            국어점수 : <input type="text" name="korScore"> <br>
            영어점수 : <input type="text" name="engScore"> <br>
            학생소개 <textarea name="intro" cols="30" rows="10"></textarea> <br>
            <input type="submit" value="등록 완료">
        </form>

    </div>
</body>
</html>