<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<style>
    .container {
        width: 600px;
        margin: 0 auto;
    }
    table {
        border: 1px solid black;
        width: 100%;
        border-collapse: collapse;
    }
    tr, td{
        border: 1px solid black;
    }
</style>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <td>학번</td>
                <td>[[${stuInfo.stuNo}]]</td>
                <td>이름</td>
                <td>[[${stuInfo.stuName}]]</td>
            </tr>
            <tr>
                <td>국어점수</td>
                <td>[[${stuInfo.korScore}]]</td>
                <td>영어점수</td>
                <td>[[${stuInfo.engScore}]]</td>
            </tr>
            <tr>
                <td>자기소개</td>
                <td colspan="3">[[${stuInfo.intro}]]</td>
            </tr>
        </table>
        <input type="button" value="뒤로가기" th:onclick="|location.href = '@{/}'|">
        <input type="button" value="학생삭제" th:onclick="|location.href = '@{deleteStu(stuNo=${stuInfo.StuNo})}'|">
    </div>
</body>
</html>