<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <p>
        [[${regMemberVO.name}]] 회원님 가입을 환영합니다. <br>
        아래 추가 정보를 입력해주세요.
    </p>
    <form action="goInfo" method="post">
        <input type="hidden" name="id" th:value="${regMemberVO.id}">
        <input type="hidden" name="pw" th:value="${regMemberVO.pw}">
        <input type="hidden" name="name" th:value="${regMemberVO.name}">
        <!-- 배열 반복문 돌려서 정보 출력 -->
        <th:block th:each="e : ${regMemberVO.tel}">
            <input type="hidden" name="tel" th:value="${e}">
        </th:block>
        <input type="hidden" name="email" th:value="${regMemberVO.email}">
        <input type="hidden" name="birth" th:value="${regMemberVO.birth}">
       


        관심 레슨 
        <input type="checkbox" name="lesson" value="수영" checked>수영
        <input type="checkbox" name="lesson" value="헬스">헬스
        <input type="checkbox" name="lesson" value="요가">요가
        <input type="checkbox" name="lesson" value="필라테스">필라테스 <br>

        레슨에 참여한 적 있나요 
        <input type="radio" name="yesOrNo" value="예" checked>예
        <input type="radio" name="yesOrNo" value="아니오">아니오 <br>
        
        자기소개
        <textarea name="intro" cols="30" rows="10"></textarea> <br>

        <input type="submit" value="입력완료">
    </form>
</body>
</html>