<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="replyMapper">
    <resultMap id="reply" type="com.green.Board.vo.ReplyVO">
        <result column="REPLY_NUM"      property="replyNum"/>
        <result column="CONTENT"        property="content"/>
        <result column="CREATE_DATE"    property="createDate"/>
        <result column="WRITER"         property="writer"/>
        <result column="BOARD_NUM"      property="boardNum"/>
    </resultMap>

    <select id="selectReply" resultMap="reply">
        SELECT CONTENT
            , CREATE_DATE
            , WRITER
        <!-- PRIMARY KEY 는 SELECT 시 무조건 뽑는다 생각하면 됨. -->
            , REPLY_NUM
        FROM BOARD_REPLY
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <insert id="insertReply">
        INSERT INTO BOARD_REPLY (
            CONTENT
            , WRITER
            , BOARD_NUM
        ) VALUES (
            #{content}
            , #{writer}
            , #{boardNum}
        )
    </insert>

    <delete id="deleteReply">
        DELETE FROM BOARD_REPLY
        WHERE REPLY_NUM = #{replyNum}
    </delete>
</mapper>































